body {
    display: flex;
    flex-direction: column;
    background-color: #9ea1d4;
    color: #f1f7b5;
    background-image: url("imagebg.png");
    background-size: contain;
}

main {
    margin: 100px;
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    color: black;
    background-color: antiquewhite;
    align-content: center;
    flex: 1;
    overflow-y: auto;
}
